@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bacasime+Antique&family=Cinzel+Decorative:wght@400;700&family=Cinzel:wght@400;700&family=Croissant+One&family=Inknut+Antiqua:wght@400;700&family=Inter:wght@400;600;700;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Karla:wght@400;700&family=Lora:wght@400;700&family=Merriweather:wght@400;700&family=Sofia&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 255 255 255;
  --secondary: 59 130 246;
  /* --primary: 3 233 244;
  --secondary: 20 125 16; */
  --primary-shadow: rgba(var(--primary));
  --secondary-shadow: rgba(var(--secondary));

  --cards: 6;
  --cardHeight: 75vh;
  --cardTopPadding: 3.5em;
  --cardMargin: 4vw;
}
/* --primary: #3b82f6;
  --secondary: #7e22ce; 
  --secondary: 126 34 206;*/
* {
  font-family: "Inknut Antiqua", "sans-serif";
}
#cards {
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}

.card-body {
  height: var(--cardHeight);
}
